body{
    font-family: Georgia, serif;
    background-color: ivory;
}
img{
    width: 200px;
    border: 2pt solid indianred;
    border-radius: 50%;
}
input[type=radio]{
    accent-color: red;
}
div#vastus{
    background-color: transparent;
    padding: 0;
}
label{
    font-weight: bold;
    padding: 2px;
    margin-right: 10px;
}
h1{
    color: midnightblue;
}
table{
    border: 3px solid indianred;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    background-color: linen;
}
th{
    background-color: lightcoral;
    color: black;
    padding: 10px;
}
td{
    border-bottom: 2px dotted indianred;
    padding: 8px;
    color: firebrick;
}