img {
    border: 3px solid lightgray;
    vertical-align: top;
}

div#selgitus {
    background-color: lightgray;
    width: 30%;
    padding: 5%;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

a.tagasi {
    display: block;
    width: fit-content;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a.tagasi:hover {
    background-color: #555;
}
